* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    height: 100vh;
}

.container {
    display: grid;

}

.container div {
    padding: 100px;
}

.content {
    display: grid;
    grid-template-areas:
        "a a b"
        "c d d"
        "c e e";
    gap: 20px;
}

.box1 {
    background-color: rgb(101, 8, 8);
    grid-area: a;
}

.box2 {
    background-color: rgb(103, 124, 70);
    grid-area: b;
}

.box3 {
    background-color: rgb(247, 207, 8);
    grid-area: c;
}

.box4 {
    background-color: rgb(5, 25, 135);
    grid-area: d;
}

.box5 {
    background-color: rgb(73, 52, 115);
    grid-area: e;
}